<div class="sidebar-widget">
    <h4>Openingstijden</h4>
    <ul class="contact-info">
        <li>Maandag - Vrijdag:</br>
            10:00 - 16:00u</br>

        </li>
        <br/>
        <li>Vrijdag:</br>
            10:00 - 16:00u </br>

        </li>
        <br/>

        <br/>
        <li>En na telefonische afspraak!</li>
    </ul>
</div>
<div class="sidebar-widget">
    <br />
    <br/>
    <p>
        <img src="/img/gealanlogo.gif">
    </p>

    <br>
    <p>
        <img src="/img/verano.png">
    </p>
    <br>
    <p>
        <img src="/img/unilux.gif">
    </p>
    <br>
    <p>
        <img src="/img/pilkington.jpg">
    </p>
    <br>
    <p>
        <img src="/img/finstral.png">
    </p>
</div>
