<!-- footer -->
<footer class="construct">
    <div class="container">
        <div class="row">
<!-- /.widget -->
            <!-- .widget -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 widget">
                <h3>Contact</h3>
                <p>
                    Heeft u na het lezen van deze website vragen, neemt u dan gerust vrijblijvend contact met ons op via het contactformulier of per telefoon. Voor een uitgebreid advies staan wij u graag persoonlijk te woord in onze showroom. Wij zijn te bezoeken tijdens de openingstijden of na telefonische afspraak.

                </p><a href="/contact" class="read-more">Contact pagina <i class="fa fa-angle-double-right"></i></a>
                <ul class="social">
                    <li><a href="#" class="hvr-radial-out"><i class="fa fa-facebook" onclick="PopupCenter('https://facebook.com/sharer.php?u=https://www.aypen.nl/', '', 400, 500); return false;"></i></a></li>
                    <li><a href="#" class="hvr-radial-out"><i class="fa fa-twitter" onclick="PopupCenter('https://twitter.com/intent/tweet?&via=aypen&text=Aypen%20BV%20Kwaliteit%2C%20duurzaamheid%20en%20schoonheid', '', 350, 350); return false;"></i></a></li>
                    <li><a href="#" class="hvr-radial-out"><i class="fa fa-google-plus" onclick="PopupCenter('https://plus.google.com/share?url=https://www.aypen.nl/', '', 600, 600); return false;"></i></a></li>
                    <li><a href="#" class="hvr-radial-out"><i class="fa fa-linkedin" onclick="PopupCenter('http://www.linkedin.com/shareArticle?mini=true&url=https://www.aypen.nl/&title=&summary=Aypen BV. Kwaliteit, duurzaamheid en schoonheid', '', 350, 350); return false;"></i></a></li>
                </ul>
            </div> <!-- /.widget -->
            <!-- .widget -->

            <!-- .widget -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 widget">
                <h3>Openingstijden</h3>

                <h3> Ma - Za:   	9:00 - 17:00</h3>
                <h3> En na telefonische afspraak!</h3>



            </div> <!-- /.widget -->
            <!-- .widget -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 widget">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 widget">
                <h3>Bedrijfsgegevens</h3>
                <ul class="contact-info">
                    <li><i class="fa fa-map-marker"></i> <span class="text">Lange Beijerd 7b<br>5431 NR Cuijk</span></li>
                    <li><i class="fa fa-phone"></i> <span class="text">0485 - 31 03 89</span></li>
                    <li><i class="fa fa-phone"></i> <span class="text">06 - 53 84 14 31</span></li>
                    <li><i class="fa fa-envelope-o"></i> <span class="text">info@aypen.nl</span></li>
                    <li><i class="fa fa-globe"></i> <span class="text">https://www.aypen.nl</span></li>
                </ul>
            </div> <!-- /.widget -->

        </div>
    </div>
</footer> <!-- /footer -->

<!-- #bottom-bar -->
<section id="bottom-bar" class="construct">
    <div class="container">
        <div class="row">
            <!-- .copyright -->
            <div class="copyright pull-left">
                <p>Copyright &copy; Aypen B.V. 2016. All rights reserved. </p>
            </div> <!-- /.copyright -->
        </div>
    </div>
</section><!-- /#bottom-bar -->
