<!-- #topbar -->
<section id="topbar" class="construct dontprint">
    <div class="container">
        <div class="row">
            <div class="social pull-right">
                <ul>
                    <li><a href="#" onclick="PopupCenter('https://facebook.com/sharer.php?u=https://www.aypen.nl/', '', 400, 500); return false;"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#" onclick="PopupCenter('https://twitter.com/intent/tweet?&via=aypen&text=Aypen%20BV%20Kwaliteit%2C%20duurzaamheid%20en%20schoonheid', '', 350, 350); return false;"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" onclick="PopupCenter('https://plus.google.com/share?url=https://www.aypen.nl/', '', 600, 600); return false;"><i class="fa fa-google-plus" ></i></a></li>
                    <li><a href="#" onclick="PopupCenter('http://www.linkedin.com/shareArticle?mini=true&url=https://www.aypen.nl/&title=&summary=Kwaliteit, duurzaamheid en schoonheid', '', 350, 350); return false;"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" onclick="PopupCenter('http://pinterest.com/pin/create/button/?url=https://www.aypen.nl/&amp;media=https://www.aypen.nl/img/Aypen-Logo-main.png&amp;description=Aypen BV. Kwaliteit, duurzaamheid en schoonheid', '', 350, 350); return false;"><i class="fa fa-pinterest"></i></a></li>  <li><a href="/"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div> <!-- /.social -->
            <div class="contact-info pull-left">
                <ul>
                    <li><a href="/contact"><i class="fa fa-map-marker"></i>  Lange Beijerd 7b, Cuijk </a></li>
                    <li><a href="mailto:info@aypen.nl"><i class="fa fa-envelope"></i> info@aypen.nl</a></li><li><a href="#" class="hvr-radial-out"><i class="fa fa-pinterest" onclick="PopupCenter('http://pinterest.com/pin/create/button/?url=https://www.aypen.nl/&amp;media=https://www.aypen.nl/img/Aypen-Logo-main.png&amp;description=Aypen BV. Kwaliteit, duurzaamheid en schoonheid', '', 350, 350); return false;"></i></a></li>
                    <li><a href="/contact"><i class="fa fa-phone"></i> 0485 - 31 03 89</a></li>
                </ul>
            </div> <!-- /.contact-info -->
        </div>
    </div>
</section> <!-- /#topbar -->

<!-- header -->
<header class="construct header-curvy dontprint">
    <div class="search-box">
        <div class="container">
            <div class="pull-right search  col-lg-3 col-md-4 col-sm-5 col-xs-12" style="display: none">
                <form action="#">
                    <input type="text" placeholder="Search Here"> <button type="submit"><i class="icon icon-Search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="cart-box">
        <div class="container">
            <div class="pull-right cart col-lg-6 col-xs-12" style="display: none">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="clearfix">
            <div class="pull-left logo">
                <a href="/">
                    <img src="/img/Aypen-Logo-main.png" alt="Aypen logo">
                </a>
            </div>
            {% include top-menu.html %}
        </div>
    </div>
</header> <!-- /header -->
