<!-- #topbar -->
<section id="topbar" class="construct">
    <div class="container">
        <div class="row">
            <div class="social pull-right">
                <ul>
                    <li><a href="#" onclick="PopupCenter('https://facebook.com/sharer.php?u=https://www.aypen.nl/', '', 400, 500); return false;"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#" onclick="PopupCenter('https://twitter.com/intent/tweet?&via=aypen&text=Aypen%20BV%20Kwaliteit%2C%20duurzaamheid%20en%20schoonheid', '', 350, 350); return false;"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" onclick="PopupCenter('https://plus.google.com/share?url=https://www.aypen.nl/', '', 600, 600); return false;"><i class="fa fa-google-plus" ></i></a></li>
                    <li><a href="#" onclick="PopupCenter('http://www.linkedin.com/shareArticle?mini=true&url=https://www.aypen.nl/&title=&summary=Kwaliteit, duurzaamheid en schoonheid', '', 350, 350); return false;"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="/"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div> <!-- /.social -->
            <div class="contact-info pull-left">
                <ul>
                    <li><a href="tel:+31485310389"><i class="fa fa-map-marker"></i>  Lange Beijerd 7b, Cuijk </a></li>
                    <li><a href="mailto:info@aypen.nl"><i class="fa fa-envelope"></i> info@aypen.nl</a></li>
                    <li><a href="tel:31485310389"><i class="fa fa-phone"></i> 0485 - 31 03 89</a></li>
                </ul>
            </div> <!-- /.contact-info -->
        </div>
    </div>
</section> <!-- /#topbar -->

<!-- header -->
<header class="construct header-curvy">
    <div class="search-box">
        <div class="container">
            <div class="pull-right search  col-lg-3 col-md-4 col-sm-5 col-xs-12" style="display: none">
                <form action="#">
                    <input type="text" placeholder="Search Here"> <button type="submit"><i class="icon icon-Search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="cart-box">
        <div class="container">
            <div class="pull-right cart col-lg-6 col-xs-12" style="display: none">
                <p><i class="icon icon-FullShoppingCart"></i> You Have <span>1 Item</span> in your Cart. Price is <span>$199</span></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="clearfix">
            <div class="pull-left logo">
                <a href="/">
                    <img src="img/Aypen-Logo-main.png" alt="Aypen logo">
                </a>
            </div>
            <nav class="pull-right mainmenu-container clearfix">
                <ul class="top-icons-wrap pull-right">
                    <li class="top-icons search" style="display: none"><a href="#"><i class="icon icon-Search"></i></a></li>
                    <li class="top-icons cart" style="display: none"><a href="#"><i class="icon icon-ShoppingCart"></i></a></li>
                </ul>
                <button class="mainmenu-toggler">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="mainmenu">
                    <li><a href="/">Home</a></li>
                    <li><a href="showroom.html">Showroom</a></li>
                    <li class="dropdown">
                        <a href="#">Aanbod</a>
                        <ul class="submenu">
                            <li><a href="#">Kozijnen</a></li>
                            <li><a href="#">Veranda's en Serres</a></li>
                            <li><a href="#">Zonwering</a></li>
                            <li><a href="#">Dakkapellen</a></li>
                            <li><a href="#">Badkamers</a></li>
                            <li><a href="#">Installatiemateriaal</a></li>
                            <li><a href="#">Sanitair</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Verbouw</a>
                        <ul class="submenu">
                            <li><a href="/Verbouw">Verbouw</a></li>
                            <li><a href="/Aanbouw">Aanbouw</a></li>
                        </ul>
                    </li>
                    <li><a href="/Referentie">Referentie</a></li>
                    <li class="dropdown"><a href="/Bereken">Bereken</a>
                    <ul class="submenu">
                        <li><a href="/kozijn">Bereken prijs kozijn</a></li>
                        <li><a href="/veranda">Bereken prijs veranda</a></li>
                        <li><a href="/deur">Bereken prijs Deur</a></li>
                        <li><a href="/rolluik">Bereken prijs rolluik</a></li>
                        <li><a href="/schuifpui">Bereken schuifpui</a></li>
                    </ul>
                    </li>
                    <li><a href="Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header> <!-- /header -->
<section class="rev_slider_wrapper construct-banner-wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            <li data-transition="fade">
                <img src="img/slides/verbouw.jpg"  alt="cover" data-bgposition="center top" data-bgfit="" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="0"
                     data-y="top" data-voffset="205"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    <h2><b>Van ontwerp</b></h2>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="20"
                     data-y="top" data-voffset="265"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="800">
                    <h2>tot realisatie</h2>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="15"
                     data-y="top" data-voffset="330"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1100">
                    <ul>
                        <li><span>Grote Showroom</span></li>
                        <li><span>Kwalitatieve materialen</span></li>
                        <li><span>Creatief meedenken</span></li>
                    </ul>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="0"
                     data-y="top" data-voffset="350"
                     data-whitespace="wrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="800">
                    <p></p>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="315"
                     data-y="top" data-voffset="480"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1700">
                    <a href="/referenties" class="hvr-bounce-to-right">Referenties</a>
                </div>
            </li>
            <li data-transition="fade">
                <img src="img/slides/1.jpg"  alt="cover" data-bgposition="center top" data-bgfit="" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="0"
                     data-y="top" data-voffset="205"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    <h2><b>Een kleine klus</b></h2>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="20"
                     data-y="top" data-voffset="265"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="800">
                    <h2>of aannemerswerk</h2>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="15"
                     data-y="top" data-voffset="330"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1100">
                    <ul>
                        <li><span>Kwaliteit</span></li>
                        <li><span>Duurzaamheid</span></li>
                        <li><span>Schoonheid</span></li>
                    </ul>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="0"
                     data-y="top" data-voffset="350"
                     data-whitespace="wrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="800">
                    <p></p>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="315"
                     data-y="top" data-voffset="480"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1700">
                    <a href="/referenties" class="hvr-bounce-to-right">Referenties</a>
                </div>
            </li>
            <li data-transition="fade">
                <img src="/img/slides/2.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="left" data-hoffset="270"
                     data-y="top" data-voffset="205"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="500">
                    <h2>Wij renoveren</h2>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="left" data-hoffset="280"
                     data-y="top" data-voffset="255"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1000">
                    <h2>en verbouwen met passie</h2>
                </div>
                <div class="tp-caption sfl tp-resizeme construct-banner-caption"
                     data-x="left" data-hoffset="290"
                     data-y="top" data-voffset="320"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1500">
                    <span class="border"></span>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="left" data-hoffset="290"
                     data-y="top" data-voffset="315"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="2000">
                    <p></p></div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="right" data-hoffset="15"
                     data-y="top" data-voffset="330"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1100">
                    <ul>
                        <li><span>Prijstechnisch scherpe prijzen!</span></li>
                    </ul>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="left" data-hoffset="290"
                     data-y="top" data-voffset="410"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="2500">
                    <a href="#" class="hvr-bounce-to-right">Referenties</a>
                </div>
            </li>
            <li data-transition="fade">
                <img src="img/slides/template1.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="center" data-hoffset="0"
                     data-y="top" data-voffset="205"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="700">
                    <h2>We hebben veel ervaring</h2>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="center" data-hoffset="0"
                     data-y="top" data-voffset="255"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1000">
                    <h2>In Aannemerswerk</h2>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="center" data-hoffset="0"
                     data-y="top" data-voffset="320"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1300">
                    <span class="border"></span>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="center" data-hoffset="0"
                     data-y="top" data-voffset="315"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1600">
                    <p class="text-center"></p>
                </div>
                <div class="tp-caption sfb tp-resizeme construct-banner-caption"
                     data-x="center" data-hoffset="0"
                     data-y="top" data-voffset="410"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="o:0"
                     data-transform_out="o:0"
                     data-start="1900">
                    <a href="#" class="hvr-bounce-to-right">Referenties</a>
                </div>
            </li>
        </ul>
    </div>
</section>
