<div class="sidebar-widget">

    <h2>Polysun</h2>
    <img src="/img/content/polysun/logo-poly-sun-klein.png" />
    <strong>Kies het Polysun systeem dat het beste bij je past!</strong>
    <ul class="nav-menu-left">
        <li><a href="/polysun/jaloezie"><i class="fa fa-arrow-circle-o-right"></i> Screens</a></li>
        <li><a href="/polysun/jaloezie-small"><i class="fa fa-arrow-circle-o-right"></i> Rolluiken</a></li>
        <li><a href="/polysun/plisse"><i class="fa fa-arrow-circle-o-right"></i> Plissé</a></li>
        <li><a href="/polysun/plisse-black-out"><i class="fa fa-arrow-circle-o-right"></i> Plissé black out</a></li>
        <li><a href="/polysun/rolgordijn"><i class="fa fa-arrow-circle-o-right"></i> Rolgordijn</a></li>
    </ul>
    <br />
    <a href="/aanbod">Terug naar Aanbod</a>
</div>
