<ul class="{{ include.className }}">
    <li><a href="/kozijnen">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Kozijnen</a></li>
    <li><a href="/deuren">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Deuren</a></li>
    <li><a href="/schuifpuien">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Schuifpuien</a></li>
    <li><a href="/serre">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Serres</a></li>
    <li><a href="/veranda">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Veranda's</a></li>
    <li><a href="/zonwering">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Zonwering</a></li>
    <li><a href="/dakkapellen">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Dakkapellen</a></li>
    <li><a href="/sanitair">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Sanitair</a></li>
    <li><a href="/ledverlichting">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}LEDverlichting</a></li>
    <li><a href="/installatiemateriaal">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Installatiemateriaal</a></li>
    <li><a href="/tegels">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Tegels</a></li>
    <li><a href="/vloerverwarming">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Vloerverwarming</a></li>
    <li><a href="/verbouw">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Verbouw</a></li>
    <li><a href="/aanbouw">{% if include.icon %}<i class="fa {{ include.icon }}"></i> {% endif %}Aanbouw</a></li>
</ul>
