<nav class="pull-right mainmenu-container clearfix">
    <ul class="top-icons-wrap pull-right">
        <li class="top-icons search" style="display: none"><a href="#"><i class="icon icon-Search"></i></a></li>
        <li class="top-icons cart" style="display: none"><a href="#"><i class="icon icon-ShoppingCart"></i></a></li>
    </ul>
    <button class="mainmenu-toggler">
        <i class="fa fa-bars"></i>
    </button>
    <ul class="mainmenu">
        <li><a href="/">Home</a></li>
        <li><a href="showroom.html">Showroom</a></li>
        <li class="dropdown">
            <a href="#">Aanbod</a>
            <ul class="submenu">
                <li><a href="#">Kozijnen</a></li>
                <li><a href="#">Veranda's en Serres</a></li>
                <li><a href="#">Zonwering</a></li>
                <li><a href="#">Dakkapellen</a></li>
                <li><a href="#">Badkamers</a></li>
                <li><a href="#">Installatiemateriaal</a></li>
                <li><a href="#">Sanitair</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Verbouw</a>
            <ul class="submenu">
                <li><a href="/verbouw">Verbouw</a></li>
                <li><a href="/aanbouw">Aanbouw</a></li>
            </ul>
        </li>
        <li><a href="/referentie">Referentie</a></li>
        <li class="dropdown"><a href="/bereken">Bereken</a>
        <ul class="submenu">
            <li><a href="/kozijn">Bereken prijs kozijn</a></li>
            <li><a href="/veranda">Bereken prijs veranda</a></li>
            <li><a href="/deur">Bereken prijs Deur</a></li>
            <li><a href="/rolluik">Bereken prijs rolluik</a></li>
            <li><a href="/schuifpui">Bereken schuifpui</a></li>
        </ul>
        </li>
        <li><a href="Contact">Contact</a></li>
    </ul>
</nav>
