---
layout: default
---
<!-- #blog-post -->
<section id="blog-post" class="single-post">
    <div class="container">
        <div class="row">
            <!-- article -->
            <article>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-content pull-left">

                    <h2>{{ page.title }}</h2>
                    <p>
                        {{ content }}
                    </p>
                    <br>
                </div>
            </article> <!-- /article -->





        </div>
    </div>
</section>






