---
layout: default
---

<!-- #blog-post -->
<section id="blog-post" class="single-post">
    <div class="container">
        <div class="row">
            <!-- article -->
            <article>


                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 blog-content pull-left">
                {% if page.mainImageUrl != nil and page.mainImageUrl != "" %}
                <div class="img-holder">
                    <img src="{{ page.mainImageUrl }}" alt="{{ page.title }}" height="{{ page.mainImageHeight }}"
                         width="{{ page.mainImageWidth }}">
                    {% if page.mainImageDateMonth %}
                    <div class="date-holder">
                        <b>{{page.mainImageDateDay}}</b>
                        {{page.mainImageDateMonth}}
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                    <h2>{{ page.title }}</h2>
                    <p>
                        {{ content }}
                    </p>
                    <br>

                    {% include aypentool.html %}
                    
                    {% if page.pinterest_url %}
                        <a data-pin-do="embedBoard" data-pin-lang="nl" data-pin-board-width="940" data-pin-scale-height="600" data-pin-scale-width="80" href="{{ page.mainImageHeight }}"></a>
                    {% endif %}
                    
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-push-0 col-md-push-0 col-sm-push-3 col-xs-push-0 sidebar blog-right right">
                    {% if page.menu-left %}
                        {% include {{page.menu-left}} %}
                    {% endif %}
                </div>
            </article> <!-- /article -->





        </div>
    </div>
</section>






